p{
  color: #4682B4;
  font-family: arial;
}
img{
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3%;
  width: 300px;
  height: 200px;
}
h1{
  color: #4682B4;
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
          }
article h1{
  color: #CD5C5C ;
}
article{
  background-color: #E0FFFF;
  /*border: grubość styl kolor
    styl: solid | dashed | dotted*/
  border: 10px dotted silver;
  padding: 10px;
  margin: 10px;
  /*margin-top: 200px;*/
}
article div{
  background: #FFEFD5;
  border: 3px solid silver;
}
.promo{
  font-size: 30px;
  border: 7px dashed #00FF7F;
}
nav a{
  text-decoration: none;
  font-size: 20px;
  font-family: Comic Sans Ms;
  color: grey;
  margin: 5px;
  background: #FFA07A;
  padding: 5px;
	}
a:hover { 
  color:pink;
}
nav a.active{
  background: #FF6347;
}
